extends layout

block content
    header
        h1
            a(href='/')= title
            |/about
        p.normal_paragraph A minimal real-time chat application using 
            a(href='http://socket.io/') socket.io 
            | and 
            a(href='http://facebook.github.io/react/') React.js 
            | by 
            a(href='http://keithy.me') Keith Yong
            | . Try opening the same chat room on two different windows! 
        p.normal_paragraph Bored? Dig through the source code 
            a(href='http://github.com/keithyong/chat-room') here
            | , or indulge in the colorscheme 
            a(href='https://color.adobe.com/Flat-UI-color-theme-2469224/') here
            | .
