extends layout

block content
    header
        h1
            a(href='/about')= title
        p#loginMessage= loginMessage 
            span#loggedIn= loggedIn
            |.
    form(id='loginForm' autocomplete='off')
        span.input
            input.input_field.username_input_field(type='text', id='username', placeholder='Set username...')
    p Join a chat room:
    div#chatRoomList
    script(type='text/jsx' src='/js/joinroom.js')
