doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='js/JSXTransformer.js')
    script(src='js/react.js')
  body
    block content
