doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/script.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
  body
    block content
