extends layout

block content
    header
        h1#title
            a(href='/') chatter
            /r/
            span#roomName= roomName
        p#loginMessage Logged in as 
            span#username= username
            | .
    div#app
    script(src='/js/chatroom.js' type='text/jsx')
