body * {
    margin: 0;
    padding: 0;
}
body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
.messagesList {
    margin-top: 20px;
    margin-bottom: 10px;
    list-style: none;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid #ddd;
    font-size: .75rem;
}
